<ul class="posts-list">
  <% @posts.each do |post| %>
    <li>
      <span class="post-date"><%= l post.created_at, format: :post %> »</span>
      <%= link_to post.title, post, class: "post-link" %>
    </li>
  <% end %>
</ul>

<%= paginate @posts %>



